/*.box {
	background: #eee url("../images/bg.gif") no-repeat 50px 50px;
	height: 800px;
}


.logo {
	background: url(../images/logo.png) no-repeat center;
	display: block;
	height: 90px;
	width: 280px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
*/
.square {
	height: 200px;
	width: 200px;
	background: gray;
}
.bar {
	height: 200px;
	background: darkgray;
	/*clear: both;*/
}
.right {
	float: right;
}
.left {
	float: left;
}
.clearfix:after {
	content: '';
	clear: both;
	display: block;
}
