/*font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto', sans-serif;*/


h2, h3 {
	font-family: 'Roboto Condensed', sans-serif;
	margin: 5px 0 5px 0;
}
p {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	margin: 0;
}
.features p, .slideshow p {
	size: 16px;
	color: #777;
	font-weight: 400;
}
.landing h2 {
	font-size: 70px;
	color: #fff;
	font-weight: 100;
}
.landing p {
	font-size: 20px;
	color: #fff;
}
.download-btn {
	font-family: 'Roboto', sans-serif;
	border: 1px solid #fff;
	height: 50px;
	font-size: 20px;
	color: #e77e04;
	text-align: center;
	background: #fff;
	line-height: 2.3;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 30px;
	border-radius: 5px;
}
.features h3 {
	font-weight: 300; 
	font-size: 26px;
	color: #e77e04;
	margin: 20px 0;
}
header {
	height: 140px;
	width: 100%;
	background: #fff;
}
.logo {
	font-family: 'Roboto', sans-serif; 
	font-size: 30px;
	color: #2b3f4c;
	text-decoration: none;
}
.logo span {
	font-weight: 900;
}
header .fs-cell {
	margin: 47px 0;
}
.logo:before {
	content: "";
	background: url(../images/icon_sprite.png) 0 0 no-repeat;
	display: inline-block;
	width: 60px;
	height: 60px;
	vertical-align: middle;
	margin-right: 20px;
}
.landing {
	background: url(../images/intro_bg.jpg);
	background-color: #e77e04;
	height: 455px;
	max-width: 100%;
}
.intro_row {
	position: relative;	
	height: 455px;
}
.calltoaction {
	margin-top: 100px;
}
.feat-heading {
	text-transform: uppercase;
	color: #e77e04;
	font-size: 26px;
}
.feat-heading:before {
	background: url(../images/icon_sprite.png) no-repeat;
	content: '';
}
.feat-heading:after {
	background: url(../images/icon_sprite.png) no-repeat;
	content: '';
	vertical-align: middle;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 0 0 10px;
}
.feat-tag .feat-heading:after {
	background-position: 0 -80px;
	width: 31px;
	height: 31px;
}
.feat-cloud .feat-heading:after {
	height: 25px;
	width: 35px;
	background-position: -40px -80px;
}
.feat-map .feat-heading:after {
	height: 31px;
	width: 25px;
	background-position: -80px -80px;
}
.slideshow {
	background: #eee;
	margin-top: 90px;
	padding: 100px 0 90px 0;
}
.slideshow h3 {
	font-size: 36px;
	color: #2b3f4c;
	margin: 20px 0;
}
.discription {
	margin: 70px 0 0 0;
}
.photo {
	width: 100%;
	margin-bottom: 10px;
}
.features div {
	margin: 50px;
}
@media screen and (min-width: 740px) and (max-width: 979px) {
	.photomarg {
		margin-top: 90px;
	}
	.slideshow {
		padding-top: 25px;
	}
}
.additional {
	text-align: center;
	height: 370px;
	padding: 95px 0;
}
.apple-btn {
	background: url(../images/icon_sprite.png) 120px -200px no-repeat;
}
.google-btn {
	background: url(../images/icon_sprite.png) 120px -260px no-repeat;
}
.amazon-btn {
	background: url(../images/icon_sprite.png) 120px -320px no-repeat;
}
.amazon-btn, .apple-btn, .google-btn {
	background-color: black;
	border-radius: 5px;
	display: block;
	width: 100%;
	height: 50px;
	margin: 10px;
}
@media screen and (max-width: 980px) {
	.intro_row {
		right: 30px;
	}
}
@media screen and (min-width: 740px) {
	.apple-btn, .google-btn, .amazon-btn {
		display: inline-block;
		width: 170px;
		height: 50px;
	}
	.apple-btn {
		background-position: -20px -200px;
	}
	.google-btn {
		background-position: -20px -260px;
	}
	.amazon-btn {
		background-position: -20px -320px;
	}
	.intro_row:before {
		background: url(../images/intro_phone.png) no-repeat;
		content: '';
		height: 554px;
		width: 325px;
		position: absolute;
		bottom: 0;
		right: -5px;
	}
@media screen and (min-width: 740px) {
	.features {
		text-align: center;
	}

	.feat-heading:after {
		display: none;
	}

	.feat-heading:before {
		display: block;
		margin: 0 auto 10px;
	}

	.feat-tag .feat-heading:before {
		width: 64px;
		height: 64px;
		background-position: 0 -120px;
	}

	.feat-cloud .feat-heading:before {
		width: 72px;
		height: 64px;
		background-position: -80px -114px;
	}

	.feat-map .feat-heading:before {
		height: 64px;
		width: 50px;
		background-position: -160px -120px;
	}
}
@media screen and (max-width: 499px) {
		.apple-btn {
			background-position: 40px -200px;
		}
		.google-btn {
			background-position: 40px -260px;
		}
		.amazon-btn {
			background-position: 40px -320px;
		}

	}
.fs-grid .fs-row .fs-lg-half.social {
	float: right;
	width: auto;
}
.social a {
	width: 40px;
	height: 40px;
	display: block;
	float: left;
}
.facebook-btn {
	background: url(../images/icon_sprite.png) -80px 0 no-repeat;
}
.twitter-btn {
	background: url(../images/icon_sprite.png) -120px 0 no-repeat;
}
.googleplus-btn {
	background: url(../images/icon_sprite.png) -160px 0 no-repeat;
}
.additional h3 {
	font-size: 42px; 
	color: #e77e04;
}
.additional p {
	font-size: 18px;
	color: #777;
	font-weight: 400;
	margin: 20px 0;
}
.footline {
	display: inline;
	margin: 15px;
}
footer a {
	margin: 5px;
	text-decoration: none;
	color: #2b3f4c;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}
.foot {
	padding: 20px 0;
}
.footernav {
	padding-top: 20px;
}
@media screen and (max-width: 740px) {
	.fs-grid .fs-row .fs-lg-half.social, .social a {
		position: relative;
		float: left;
	}
	.fs-grid .fs-row .fs-lg-half.social {
		left: 50%;
	}
	.social a {
		left: -50%;	
	}

}
@media screen and (max-width: 740px) {
	.footline {
		display: block;
		text-align: center;
	}
	.footernav {
		text-align: center;
		display: block;
	}
}


